<div class="container mx-auto p-10 m-10">
  <mat-card>
    <h1 class="text-center p-10">Welcome to KeepNotes!</h1>
  </mat-card>

  <div class="grid xl:grid-cols-2 md:grid-cols-6 gap-4 mt-3">
    <mat-card class="">
      <h1 class="text-center p-10">Welcome to KeepNotes!</h1>
    </mat-card>

    <mat-card class="">
      <h1 class="text-center p-10">Welcome to KeepNotes!</h1>
    </mat-card>

    <mat-card class="">
      <h1 class="text-center p-10">Welcome to KeepNotes!</h1>
    </mat-card>

    <mat-card class="">
      <h1 class="text-center p-10">Welcome to KeepNotes!</h1>
    </mat-card>
  </div>
</div>
