<mat-toolbar>
<!--  <button *ngIf="authState.isAuth" (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>-->
  <span>Keep Notes App</span>

  <span class="example-spacer"></span>
  <div *ngIf="authState.isAuth">
    <a routerLink="dashboard" mat-button>
      Dashboard
    </a>

    <a routerLink="user/{{authState.userId}}" mat-button>
      User Profile
    </a>

  </div>


  <a routerLink="/" mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    Home
  </a>
  <button *ngIf="!authState.isAuth" routerLink="/register" mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    Register
  </button>
  <button *ngIf="!authState.isAuth" routerLink="/login" mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    Login
  </button>
  <button *ngIf="authState.isAuth" (click)="Logout()" mat-button class="example-icon" aria-label="Example icon-button with share icon">
    Logout
  </button>
</mat-toolbar>

<mat-sidenav-container class="site">\
<!--  <mat-sidenav #sidenav role="navigation" [opened]="true" mode="side" fixedInViewport style="width: 150px">-->
<!--    <mat-nav-list>-->
<!--      <button mat-raised-button>Hey</button>-->
<!--    </mat-nav-list>-->
<!--  </mat-sidenav>-->
  <mat-sidenav-content>
    <div class="md:container md:mx-auto sm:container sm:mx-auto">
      <router-outlet></router-outlet>
    </div>

    <app-footer class="mt-auto fixed bottom-0"></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
