<form [formGroup]="noteForm" (ngSubmit)="createNote(userId)" class="mt-10">
   <div class="grid md:grid-cols-1 sm:grid-cols-1 gap-4">
      <mat-form-field appearance="fill">
         <mat-label>Title</mat-label>
         <input matInput placeholder="Title" formControlName="title"  (input)="inputOpenState = true" />
      </mat-form-field>

      <mat-form-field *ngIf="inputOpenState" appearance="fill">
         <mat-label>Content</mat-label>
         <textarea matInput placeholder="Title" formControlName="content" ></textarea>
      </mat-form-field>

     <button mat-raised-button color="primary" type="submit">Add</button>
   </div>

  <span *ngIf="IsEmptyOrNull">Please fill the fields</span>
</form>

<mat-spinner *ngIf="isLoading"></mat-spinner>
<div *ngIf="notes" class="grid md:grid-cols-3 sm:grid-cols-1 gap-4 p-10 mt-10">
   <mat-card *ngFor="let note of notes$ | async; let i = index" [id]="note.id">
      <mat-card-content class="text-center">
         <h1 class="text-center text-3xl">{{ note.title }}</h1>

         <p class="mt-5">
            {{ note.content }}
         </p>
      </mat-card-content>
      <mat-card-actions align="end">
         <button mat-raised-button color="primary" (click)="openDialog(userId, note.id, note)">Edit</button>
         <button mat-raised-button color="primary" (click)="deleteNote(note.userId, note.id, i)">Delete</button>
      </mat-card-actions>
   </mat-card>
</div>
